body.dark {
    background-color: #202d36;
    color: white;
}

body.dark .nav-bar-parent-container button {
    color: white;
}

body.dark .search-input-section input,
body.dark .select-input-section select {
    background-color: #2b3743;
    box-shadow: -1px 0px 9px 0px #1e2b34;
    -webkit-box-shadow: -1px 0px 9px 0px #1e2b34;
    -moz-box-shadow: -1px 0px 9px 0px #1e2b34;
    border: 1px solid #1e2b34;
    color: white;
}

body.nav-bar-parent-container h1 {
    color: white;
}

body.dark .nav-bar-parent-container {
    box-shadow: -3px 5px 5px -4px #2b3743;
    -webkit-box-shadow: -3px 5px 5px -4px #2b3743;
    -moz-box-shadow: -3px 5px 5px -4px #2b3743;
    border: 1px solid #2b3743;
    border: 1px solid #2b3743;
}

body.dark .country-container.col-lg-3 .country-info {
    background: none;
    color: white;
    margin: 25px 15px;
}

body.dark .country-container.col-lg-3 {
    box-shadow: 4px 9px 13px -6px #2b3743;
    -webkit-box-shadow: 4px 9px 13px -6px #2b3743;
    -moz-box-shadow: 4px 9px 13px -6px #2b3743;
    background-color: #2b3743;
}

body.dark .loading {
    background-color: #202d36;
    color: white;
}


body.dark .search-input-section input::placeholder {
    color: white;

}

body.dark span.border-country {
    box-shadow: -1px 0px 13px 5px #2b3743;
    -webkit-box-shadow: -1px 0px 13px 5px #2b3743;
    -moz-box-shadow: -1px 0px 13px 5px #2b3743;
}

body.dark button.back-arrow {
    box-shadow: -1px 0px 13px 5px #2b3743;
    -webkit-box-shadow: -1px 0px 13px 5px #2b3743;
    -moz-box-shadow: -1px 0px 13px 5px #2b3743;
    background-color: #2b3743;
    color: white;
}
a{
    color: black !important;
}