/* font of the page */
body {
  font-family: 'Nunito Sans', sans-serif;
  background: #fafafa;
}
main.App {
  overflow: hidden;
}
/* nav bar styling */
.nav-bar-parent-container {
  height: 5rem;
  display: flex;
  align-items: center;
  box-shadow: -3px 5px 5px -4px rgba(239, 239, 239, 0.75);
  -webkit-box-shadow: -3px 5px 5px -4px rgba(239, 239, 239, 0.75);
  -moz-box-shadow: -3px 5px 5px -4px rgba(239, 239, 239, 0.75);
  border: 1px solid rgba(239, 239, 239, 0.75);
}


.nav-bar-parent-container h1 {
  font-weight: bold;
  font-size: 2rem;
}

.nav-bar-parent-container button {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: capitalize;
  background: no-repeat;
  border: none;
}

.dark-mode-section {
  display: flex;
  justify-content: end;
}

/* inputs section styling */

.Inputs-section-parent {
  margin-top: 48px;
}

.search-input-section {
  position: relative;
}

.search-input-section input,
.select-input-section select {
  width: 100%;
  max-width: 480px;
  padding: 12.5px 0px 12.5px 60px;
  border: none;
  outline: none;
  box-shadow: -1px 0px 9px 0px rgba(242, 242, 242, 0.75);
  -webkit-box-shadow: -1px 0px 9px 0px rgba(242, 242, 242, 0.75);
  -moz-box-shadow: -1px 0px 9px 0px rgba(242, 242, 242, 0.75);
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}

.select-input-section select {
  max-width: 200px;
  width: 100%;
  padding: 13px 23px;
  cursor: pointer;
}

.search-input-section span {
  position: absolute;
  left: 30px;
  top: 27%;
  color: grey;
}

.select-input-section {
  display: flex;
  justify-content: end;
}


/* styling the countries section */

.countries-row {
  display: flex;
  justify-content: space-between;
}

.country-container.col-lg-3 {
  box-shadow: 4px 9px 13px -6px rgba(235, 210, 210, 0.75);
  -webkit-box-shadow: 4px 9px 13px -6px rgba(235, 210, 210, 0.75);
  -moz-box-shadow: 4px 9px 13px -6px rgba(235, 210, 210, 0.75);
  height: 335px;
  max-width: 271px;
  margin-top: 75px;
  border-radius: 5px;
  position: relative;
  border-radius: 5px;
}

.country-container.col-lg-3 img {
  position: absolute;
  left: 0;
  border-radius: 5px 5px 0px 0px;
  height: 158px;
  width: 100%;
}

.country-container.col-lg-3 .country-info {
  position: absolute;
  top: calc(100% - 177px);
  width: 100%;
  left: 0;
  height: 43%;
  font-size: 14px;
  margin-top: 35px;
  background: none;
  margin: 25px 15px;
  width: 16rem;

}

span.head {
  font-weight: 600;
}

div.info-block {
  margin-top: 5px;
}


/*  details page styling */

button.back-arrow{
  background: white;
  padding: 0rem;
  width: 136px;
  height: 40px;
  border: none;
  box-shadow: -1px 0px 13px 5px rgba(230,230,230,0.75);
  -webkit-box-shadow: -1px 0px 13px 5px rgba(230,230,230,0.75);
  -moz-box-shadow: -1px 0px 13px 5px rgba(230,230,230,0.75);
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
}
button.back-arrow span{
  margin-right: 10px;
}
.back-arrow-contianer.col-sm-12 {
  margin: 78px 0px;
}

div.block-info-details {
  margin-top: 1rem;
}
span.border-country {
  box-shadow: -1px 0px 13px 5px rgba(230,230,230,0.75);
  -webkit-box-shadow: -1px 0px 13px 5px rgba(230,230,230,0.75);
  -moz-box-shadow: -1px 0px 13px 5px rgba(230,230,230,0.75);
  padding: 5px 21px;
  margin-left: 17px;
}
 /* loading page  */
.loading{
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 4rem;
}

/* media queires */
@media (max-width: 767px) {
  .select-input-section.col-md-6 {
    justify-content: start;
    margin-top: 2rem;
  }

  .nav-bar-parent-container h1 {
    font-weight: bold;
    font-size: 1rem;
  }

  .countries-row {
    display: flex;
    justify-content: center;
  }
}
.borders-container {
    display: flex;
    flex-wrap: wrap;
}

span.border-country {
    position: relative;
    margin: 1rem;
}
footer img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid #23293f;
}

footer{
    position: fixed;
    bottom: 4px;
    right: 33px;
    cursor: pointer;
}
.text.show{
    position: absolute;
    top: -55px;
    left: -35rem;
    width: 35rem;
    background: hsl(217, 19%, 35%);
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 0.2rem;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}
footer a{
    color: white;
}
.text {
    display: none;
}
.text.show::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.25rem 0rem 0.6875rem 0.9375rem;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
    top: 87%;
    right: -1%;
    transform: rotate(326deg);
}
